@import "styles/base/variables";

.container {
  padding: 3.2rem;
  width: 100vw;
  height: 100vh;

  .toggle-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3.2rem;

    .toggle-status {
      margin-left: 1rem;
      font-size: 1.4rem;

      .offline {
        color: red;
      }
      .online {
        color: green;
      }
    }
  }

  .heading {
    text-align: center;
    color: $color-main;
  }

  .input-field {
    width: 100%;
    margin-bottom: 1.2rem;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .analyzed-words-container {
    display: flex;
    flex-direction: column;

    .analyzed-text {
      margin-top: 2rem;
    }
  }


}
